In [9]:
import pandas as pd
import numpy as np
np.random.seed(4299)

In [10]:
df = pd.DataFrame(np.random.randint(0,1000, size=(100, 5)), columns=list('ABCDE'))

In [11]:
df.head()

     A    B    C    D    E
0  729  606  421  229  454
1  327  657  934  900  750
2  962  724  308  158  777
3  734  708  459  467  909
4  569  737  725  961  122

In [21]:
df.sample(frac=0.1) # 10% sample

      A    B    C    D    E
69  156  267  274  529  192
52  770  905  170  374  545
5   906  793   10  123  364
43  239  804  265  586  872
63  985  770   28  175  508
3   734  708  459  467  909
91  635  777  268  593  696
54  837  302   94  295  187
42  604  170  510  443  530
65  755  309  747  798  782

In [17]:
train, validate, test = np.split(df.sample(frac=1), [int(0.6*len(df)), int(0.8*len(df))])
# first split poi t is 60%, 2nd split is from 60% to 80%.
# df.sample() shuffles

In [18]:
len(train)

60

In [19]:
len(validate)

20

In [20]:
len(test)

20

## Saving Model

In [22]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

In [23]:
import pickle

In [35]:
url = "pima-indians-diabetes.csv"

In [38]:
df = pd.read_csv(url, error_bad_lines=False, names=['preg', 'plas', 'pres', 'skin','test',\
                                                'mass','pedi','age', 'class' ])

In [39]:
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [40]:
X = df.values[:, 0:8]
y = df.values[:,8]

In [41]:
X

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [42]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=4299, test_size=0.3)

In [45]:
X_test

array([[  5.   , 116.   ,  74.   , ...,  32.3  ,   0.66 ,  35.   ],
       [  8.   , 100.   ,  76.   , ...,  38.7  ,   0.19 ,  42.   ],
       [  6.   , 124.   ,  72.   , ...,  27.6  ,   0.368,  29.   ],
       ...,
       [  0.   , 180.   ,  78.   , ...,  59.4  ,   2.42 ,  25.   ],
       [  7.   , 105.   ,   0.   , ...,   0.   ,   0.305,  24.   ],
       [  8.   , 155.   ,  62.   , ...,  34.   ,   0.543,  46.   ]])

In [46]:
model = LogisticRegression()

In [47]:
model.fit(X_train, y_train)

/Users/serdar/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

### Save the model

In [48]:
pickle.dump(model, open('saved_model.pickle', 'wb'))

### Load the model

In [51]:
trained_model = pickle.load(open('saved_model.pickle', 'rb'))

In [54]:
result = trained_model.score(X_test, y_test)
print(result)

0.8138528138528138